.tableItem {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--dashboard-background-item-color);
  cursor: pointer;
}

.tableItem:hover,
.tableItem:focus-visible {
  background-color: var(--dashboard-background-item-hover-color);
}

.tableItem__row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  padding: 0 0.25rem;
  font-size: 1rem;
  gap: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tableItem__name {
  width: var(--dashboard-table-column-name-width);
  justify-self: flex-start;
}

.tableItem__size {
  width: var(--dashboard-table-column-size-width);
}

.tableItem__uploadDate {
  width: var(--dashboard-table-column-uploadDate-width);
}

.tableItem__public {
  width: var(--dashboard-table-column-public-width);
}
.tableItem__buttons {
  width: var(--dashboard-table-column-buttons-width);
  position: relative;
}

.tableButton__ellipsis {
  display: none;
}

.tableButton__download,
.tableButton__update,
.tableButton__delete,
.tableButton__loading {
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
  margin-left: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.tableItem:hover .tableButton__download,
.tableItem:focus-visible .tableButton__download,
.tableItem:hover .tableButton__update,
.tableItem:focus-visible .tableButton__update,
.tableItem:hover .tableButton__delete,
.tableItem:focus-visible .tableButton__delete,
.tableItem:hover .tableButton__loading,
.tableItem:focus-visible .tableButton__loading {
  width: 20px;
  height: 20px;
  opacity: 1;
}

.tableButton__download:hover,
.tableButton__download:focus-visible {
  transform: scale(1.2);
}

.tableButton__update:hover,
.tableButton__update:focus-visible {
  --update-icon-bg-color: rgba(124, 91, 243, 0.4);
  --update-icon-color: var(--secondary-logo-color);
  transform: scale(1.2);
}

.tableButton__delete:hover,
.tableButton__delete:focus-visible {
  --delete-icon-bg-color: rgb(228, 14, 14);
  --delete-icon-color: transparent;
  transform: scale(1.2);
}

.tableButton__loading:hover,
.tableButton__loading:focus-visible {
  transform: scale(1.2);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tableItem__icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.tableItem__text {
  display: block;
  overflow: hidden;
  width: calc(100% - 24px - 0.5rem);
}

@media screen and (max-width: 1200px) {
  .tableItem:hover .tableButton__download,
  .tableItem:focus-visible .tableButton__download,
  .tableItem:hover .tableButton__update,
  .tableItem:focus-visible .tableButton__update,
  .tableItem:hover .tableButton__delete,
  .tableItem:focus-visible .tableButton__delete,
  .tableItem:hover .tableButton__loading,
  .tableItem:focus-visible .tableButton__loading {
    display: none;
  }

  .tableItem:hover .tableButton__ellipsis,
  .tableItem:focus-visible .tableButton__ellipsis {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    justify-self: flex-end;
    align-self: flex-end;
  }

  .tableItem__public {
    width: var(--dashboard-table-column-public-width-maxwidth1200);
  }
  .tableItem__buttons {
    width: var(--dashboard-table-column-buttons-width-maxwidth1200);
  }
}

@media screen and (max-width: 768px) {
  .tableItem {
    height: 2.5rem;
  }
  .tableItem__name {
    width: var(--dashboard-table-column-name-width-maxwidth768);
  }
  .tableItem__public {
    width: var(--dashboard-table-column-public-width-maxwidth768);
  }
  .tableItem__buttons {
    width: var(--dashboard-table-column-buttons-width-maxwidth768);
  }
  .tableItem__row {
    font-size: 0.9rem;
  }
  .tableItem__uploadDate {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 576px) {
  .tableItem {
    height: 2rem;
  }
  .tableItem__name {
    width: var(--dashboard-table-column-name-width-maxwidth576);
  }
  .tableItem__public {
    width: var(--dashboard-table-column-public-width-maxwidth576);
  }
  .tableItem__buttons {
    width: var(--dashboard-table-column-buttons-width-maxwidth576);
  }
  .tableItem__row {
    font-size: 0.8rem;
  }
  .tableItem__uploadDate {
    font-size: 0.5rem;
  }
}
