.storage__content {
  width: calc(100% - 1rem);
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: white;
}

.storage__table {
  width: calc(100% - 1rem);
  height: auto;
  gap: 0.1rem;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  border-radius: 1rem;
}

.tableBody {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  background-color: var(--dashboard-background-color);
}

.tableBody__row {
  width: 100%;
  background-color: var(--dashboard-background-color);
}

@media screen and (max-width: 576px) {
  .storage__logo {
    margin-left: 0.5rem;
  }
}
