.emptyItem {
  width: 100%;
  height: var(--dashboard-item-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dashboard-background-item-color);
  cursor: pointer;
}
