.tableHeader {
  position: sticky;

  /* top: calc(2rem + 3px); */
  z-index: 3;
  display: flex;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 2rem;
  margin-bottom: 0.3rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.75rem rgb(16 20 28 / 6%);
}

.tableHeader__column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  color: var(--primary-font-color);
  background-color: rgb(236 242 244);
  transition: background-color 0.2s ease;
  cursor: pointer;
  text-overflow: ellipsis;
  caret-color: transparent;
}

.tableHeader__column:not(:last-child) {
  box-shadow: inset -2px 0 0 var(--dashboard-background-color);
}

.tableHeader__column_hover:hover,
.tableHeader__column_hover:focus-visible {
  background-color: var(--dashboard-background-hover-color);
}

.tableHeader__name {
  width: var(--dashboard-table-column-name-width);
}

.tableHeader__size {
  width: var(--dashboard-table-column-size-width);
}

.tableHeader__uploadDate {
  width: var(--dashboard-table-column-upload-date-width);
}

.tableHeader__publicRead {
  width: var(--dashboard-table-column-public-width);
}

.tableHeader__publicWrite {
  width: var(--dashboard-table-column-public-width);
}

.tableHeader__buttons {
  width: var(--dashboard-table-column-buttons-width);
}

.tableHeader__arrow {
  --icon-svg-width: 12px;
  --icon-svg-height: 20px;
  --icon-arrow-color: var(--secondary-font-color);
  width: var(--icon-svg-width);
  height: var(--icon-svg-height);
  margin-left: 0.5rem;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .tableHeader__publicRead {
    width: var(--dashboard-table-column-public-width-maxwidth1200);
  }

  .tableHeader__publicWrite {
    width: var(--dashboard-table-column-public-width-maxwidth1200);
  }

  .tableHeader__buttons {
    width: var(--dashboard-table-column-buttons-width-maxwidth1200);
  }
}

@media screen and (max-width: 768px) {
  .tableHeader {
    height: 2.5rem;
  }

  .tableHeader__column {
    font-size: 0.85rem;
  }

  .tableHeader__name {
    width: var(--dashboard-table-column-name-width-maxwidth768);
  }

  .tableHeader__publicRead {
    width: var(--dashboard-table-column-public-width-maxwidth768);
  }

  .tableHeader__publicWrite {
    width: var(--dashboard-table-column-public-width-maxwidth768);
  }

  .tableHeader__buttons {
    width: var(--dashboard-table-column-buttons-width-maxwidth768);
  }
}

@media screen and (max-width: 576px) {
  .tableHeader {
    height: 2rem;
  }

  .tableHeader__column {
    font-size: 0.7rem;
  }

  .tableHeader__name {
    width: var(--dashboard-table-column-name-width-maxwidth576);
  }

  .tableHeader__publicRead {
    width: var(--dashboard-table-column-public-width-maxwidth576);
  }

  .tableHeader__publicWrite {
    width: var(--dashboard-table-column-public-width-maxwidth576);
  }

  .tableHeader__buttons {
    width: var(--dashboard-table-column-buttons-width-maxwidth576);
  }
}
