.footerMain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: clamp(1rem, 5vw, 2rem);
  width: 100%;
  height: var(--main-footer-height);
  padding: 0 1rem;
  background-color: var(--main-footer-background-color);
}

.footer__item {
  position: relative;
  width: clamp(3rem, 12vw, 6rem);
  height: 90%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .footer__item {
    width: clamp(2rem, 10vw, 5rem);
    height: 80%;
  }
}

@media screen and (max-width: 576px) {
  .footer__item {
    height: 60%;
  }
}
