.userDriveUpdate {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 60rem;
  height: 85%;
  max-height: 40rem;
  overflow: hidden;
  background-color: var(--header-font-color);
  border: 10px solid #fff;
  border-radius: 2rem;
  box-shadow: 2px 4px 8px rgb(0 0 0 / 34.2%);
  transform: translate(-50%, -50%);
}

.userDriveUpdate__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
}

.userDriveUpdate__close:hover,
.userDriveUpdate__close:focus-visible {
  --delete-icon-bg-color: rgb(228 14 14);
  --delete-icon-color: transparent;
}

.userDriveUpdate__title {
  font-size: 1.5rem;
  text-align: center;
  color: var(--main-page-font-color);
  margin-inline: 1rem;
}

.userDriveUpdate__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  width: 70%;
  margin: 1rem auto 0;
  padding: 0.5rem 1rem 0;
}

.userDriveUpdate__input {
  width: 100%;
  max-width: 35rem;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.userDriveUpdate__button {
  width: 100%;
  max-width: 20rem;
  height: 3rem;
  margin-top: 0.75rem;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .userDriveUpdate__close {
    width: 1.5rem;
    height: 1.5rem;
  }

  .modal__title {
    font-size: 1.25rem;
  }

  .userDriveUpdate__button {
    height: 2.5rem;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 576px) {
  .userDriveUpdate__close {
    width: 1.25rem;
    height: 1.25rem;
  }

  .modal__title {
    font-size: 1rem;
  }

  .userDriveUpdate__button {
    height: 2rem;
    margin-top: 0.75rem;
    font-size: 0.75rem;
  }
}
