.contextMenu {
  --context-menu-item-height: 40px;
  position: absolute;
  right: 75%;
  bottom: 50%;
  z-index: 100;
  width: 220px;
  padding: 6px 0;
  overflow: hidden;
  font-size: 14px;
  background-color: var(--dashboard-background-item-color);
  border: 1px solid var(--surface-border-color);
  border-radius: 0.75rem;
  box-shadow: var(--surface-shadow-medium);
}

.contextMenu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: var(--context-menu-item-height);
  padding: 10px 16px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  cursor: pointer;
}

.list__item:hover,
.list__item:focus-visible {
  background-color: var(--dashboard-background-color);
}

.contextButton__open,
.contextButton__download,
.contextButton__update,
.contextButton__delete,
.contextButton__loading {
  width: 20px;
  height: 20px;
  margin-left: 0.25rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.contextButton__loading {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.contextButton__text {
  margin-left: 0.5rem;
}
