.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  transition: all 0.3s ease-in-out;
  transform: translateX(110%);
}

.visible {
  animation: mount 0.5s ease-in-out 1;
  transform: translateX(0);
}

@keyframes mount {
  0% {
    transform: translateX(110%);
  }

  100% {
    transform: translateX(0);
  }
}

.registerForm__title {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--main-page-font-color);
}

.registerForm__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1.5rem;
}

.registerForm__input {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 3rem;
  backdrop-filter: blur(20px);
}

.logo__icon,
.logo__submitIcon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
}

.registerForm__forgottenPassword {
  max-width: 500px;
  margin-top: 0.5rem;
  padding-right: 1rem;
  align-self: flex-end;
}

.registerForm__forgottenPassword a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--main-page-font-color);
}

.registerForm__forgottenPassword a:hover,
.registerForm__forgottenPassword a:focus-visible {
  text-decoration: underline;
}

.registerForm__submit {
  --register-icon-color: var(--main-page-font-color);
  width: 100%;
  max-width: 500px;
  height: 3rem;
  margin-top: 2rem;
  backdrop-filter: blur(20px);
}

.logo__submitIcon {
  right: 50%;
  transform: translate(300%, -50%);
  pointer-events: none;
}

.registerForm__submit:hover,
.registerForm__submit:focus-visible {
  --register-icon-color: var(--secondary-font-color);
}

@media (max-width: 576px) {
  .registerForm__title {
    font-size: 1.25rem;
  }
}
