.resetPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  transition: all 0.3s ease-in-out;
  transform: translateX(110%);
}

.visible {
  animation: mount 0.5s ease-in-out 1;
  transform: translateX(0);
}

@keyframes mount {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0);
  }
}

.resetPasswordForm__title {
  color: var(--main-page-font-color);
  font-size: 1.75rem;
  font-weight: bold;
}

.resetPasswordForm__inputs {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.resetPasswordForm__input {
  width: 100%;
  height: 3rem;
  backdrop-filter: blur(20px);
  position: relative;
  max-width: 500px;
}

.logo__icon,
.logo__submitIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.resetPasswordForm__submit {
  --login-icon-color: var(--main-page-font-color);
  width: 100%;
  height: 3rem;
  backdrop-filter: blur(20px);
  max-width: 500px;
  margin-top: 1rem;
}

.resetPasswordForm__submit:hover,
.resetPasswordForm__submit:focus-visible {
  --login-icon-color: var(--secondary-font-color);
}

.logo__submitIcon {
  right: 50%;
  transform: translate(200%, -50%);
}

@media (max-width: 576px) {
  .resetPasswordForm__title {
    font-size: 1.25rem;
  }
}
