.addFolder__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 50%;
  margin-top: 1.5rem;
}

.addFolder__input {
  width: 100%;
  max-width: 35rem;
  height: 2.5rem;
  margin-bottom: 1.5rem;
}

.addFolder__buttonContainer {
  width: 100%;
  max-width: 20rem;
  height: 3rem;
  margin-top: 1.25rem;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .addFolder__form {
    width: 70%;
  }

  .addFolder__buttonContainer {
    height: 2.5rem;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 576px) {
  .addFolder__form {
    width: 85%;
  }

  .addFolder__buttonContainer {
    height: 2rem;
    margin-top: 0.75rem;
    font-size: 0.75rem;
  }
}
