.loading {
  position: var(--loading-position);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--loading-bg-color);
  inset: 0;
  backdrop-filter: blur(3px);
}

.loading__icon {
  width: var(--loading-size);
  height: var(--loading-size);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
