.previewItem__name {
  width: calc(100% - 0.5rem);
  padding-left: 0.5rem;
  justify-items: center;
}

.tableItem__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 1.5rem;
  padding: 0 0.25rem;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tableItem__icon {
  position: relative;
  width: 20px;
  height: 20px;
  user-select: none;
}

.tableItem__text {
  display: block;
  width: calc(100% - 24px - 0.5rem);
  overflow: hidden;
}
