.headerMain {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--main-header-height);
  padding: 0 20px;
  background-color: var(--main-header-background-color);
  box-shadow: 0 0.25rem 1rem rgb(16 20 28 / 6%);
  border-bottom: 1px solid var(--surface-border-color);
  backdrop-filter: blur(10px);
}

.headerMain__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--header-font-color);
}

.headerMain__auth {
  display: flex;
  gap: 1rem;
  width: 15rem;
  height: 70%;
  font-size: 0.75rem;
}

@media (max-width: 768px) {
  .headerMain {
    padding: 0 15px;
  }

  .headerMain__list {
    display: none;
  }

  .headerMain__auth {
    gap: 0.75rem;
    width: 12rem;
    height: 60%;
    font-size: 0.7rem;
  }
}

@media (max-width: 576px) {
  .headerMain {
    padding: 0 10px;
  }

  .headerMain__auth {
    gap: 0.5rem;
    width: 9rem;
    height: 50%;
    font-size: 0.6rem;
  }
}
