.updateFile__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  width: min(75%, 35rem);
  height: auto;
  padding: 1rem;
}

.updateFile__input {
  position: relative;
  width: 100%;
  max-width: 35rem;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.updateFile__copyToClipboard {
  --icon-svg-width: 24px;
  --icon-svg-height: 24px;
  --icon-svg-copy-to-clipboard-color: var(--main-page-font-color);
  position: absolute;
  top: 50%;
  right: -2rem;
  width: var(--icon-svg-width);
  height: var(--icon-svg-height);
  transform: translateY(25%);
  cursor: pointer;
}

.updateFile__copyToClipboard:hover,
.updateFile__copyToClipboard:focus-visible {
  --icon-svg-copy-to-clipboard-color: var(--secondary-logo-color);
}

.updateFile__switchRow {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.updateFile__switch {
  width: 40%;
  max-width: 35rem;
  height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.updateFile__buttonContainer {
  width: 75%;
  max-width: 20rem;
  height: 3rem;
  margin: 1rem auto 0;
  font-size: 1rem;
}

.updateFile__buttonContainer_public {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .updateFile__form {
    width: 70%;
  }

  .updateFile__buttonContainer {
    height: 2.5rem;
    margin-top: 1rem;
    font-size: 0.9rem;
  }

  .updateFile__copyToClipboard {
    --icon-svg-width: 20px;
    --icon-svg-height: 20px;
    right: -1.75rem;
    transform: translateY(37%);
  }
}

@media screen and (max-width: 576px) {
  .updateFile__form {
    width: 85%;
  }

  .updateFile__buttonContainer {
    height: 2rem;
    margin-top: 0.75rem;
    font-size: 0.75rem;
  }

  .updateFile__copyToClipboard {
    --icon-svg-width: 16px;
    --icon-svg-height: 16px;
    right: -1.5rem;
    transform: translateY(50%);
  }
}
