.button {
  --border: none;
  --border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button__loading {
  animation: spin 2s linear infinite;
  transform: scale(1.2);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.icon {
  width: 100%;
  height: 100%;
}
