:root {
  --variableUnitsSize: max(1vh, 1vw);
  --main-padding-size: 1rem;
  --main-header-background-color: rgb(250, 250, 247);
  --primary-logo-color: rgb(124, 91, 243);
  --secondary-logo-color: rgb(89, 237, 247);
  --header-font-color: rgb(92, 95, 110);
  --secondary-font-color: rgb(0, 0, 0);
  --main-header-height: clamp(2.5rem, 15vh, 3.75rem);
  --main-page-font-color: rgb(255, 255, 255);
  --main-footer-height: clamp(3rem, 20vh, 5rem);
  --main-footer-background-color: rgb(118, 87, 230);
  --link-color: rgb(14, 118, 183);
  --dashboard-color: rgb(94, 190, 196);
  --dashboard-nav-width: 10rem;
  --dashboardMini-nav-width: 5rem;
  --dashboard-background-color: rgb(240, 240, 240);
  --dashboard-background-item-color: rgb(255, 255, 255);
  --dashboard-background-item-hover-color: rgb(246, 246, 246);
  --dashboard-table-background-color: rgb(250, 250, 244);
  --dashboard-table-column-name-width: 55%;
  --dashboard-table-column-name-width-maxwidth768: 53%;
  --dashboard-table-column-name-width-maxwidth576: 49%;
  --dashboard-table-column-size-width: 10%;
  --dashboard-table-column-uploadDate-width: 20%;
  --dashboard-table-column-public-width: 7%;
  --dashboard-table-column-public-width-maxwidth768: 10%;
  --dashboard-table-column-public-width-maxwidth576: 15%;
  --dashboard-table-column-buttons-width: 7%;
  --dashboard-table-column-buttons-width-maxwidth768: 6%;
  --dashboard-table-column-buttons-width-maxwidth576: 5%;
  --modal-bg-color: rgb(125, 127, 136);
  --update-icon-bg-color: transparent;
  --update-icon-color: rgb(0, 0, 0);
  --delete-icon-bg-color: transparent;
  --delete-icon-color: rgb(207, 24, 24);
  --loading-icon-color: rgb(0, 0, 0);
  --switch-false-bg-color: rgb(194, 189, 189);
  --switch-true-bg-color: rgb(89, 237, 247);
  --modal-header-color: rgba(200, 240, 255, 0.7);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
}
*:visited {
  color: inherit;
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
}
