.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  z-index: 15;
  width: 100%;
  height: 100%;
  background-color: var(--header-font-color);
  opacity: 0.4;
  cursor: pointer;
  inset: 0;
}

.modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 50rem;
  height: 85%;
  max-height: 30rem;
  overflow: hidden;
  background-color: var(--header-font-color);
  border: 10px solid #fff;
  border-radius: 2rem;
  box-shadow: 2px 4px 8px rgb(0 0 0 / 34.2%);
  transform: translate(-50%, -50%);
}

.modal__title {
  margin: 0 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--main-page-font-color);
}

.modal__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 50%;
  height: 3rem;
  margin-top: 2rem;
}

.modal__button {
  width: calc(100% / 2 - 1rem);
  max-width: 25rem;

  height: 100%;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .modal__title {
    font-size: 1.25rem;
  }

  .modal__buttons {
    height: 2.5rem;
    margin-top: 1.75rem;
  }

  .modal__button {
    width: calc(100% / 2 - 0.75rem);
  }
}

@media screen and (max-width: 576px) {
  .modal__title {
    font-size: 1rem;
  }

  .modal__buttons {
    height: 2rem;
    margin-top: 1.5rem;
  }

  .modal__button {
    width: calc(100% / 2 - 0.5rem);
  }
}
