.input {
  --text-color: var(--main-page-font-color);
  --text-size: 1rem;

  --bg-color: transparent;
  --border: 1px solid var(--secondary-logo-color);
  --outline: none;
  --focus-outline: 1px solid var(--secondary-logo-color);
  --focus-bg-color: var(--secondary-logo-color);
  --focus-text-color: var(--secondary-font-color);
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  --placeholder-color: rgba(0, 0, 0, 0.5);
  --placeholder-padding-left: calc(0.8 * var(--variableUnitsSize));
  --placeholder-font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
  backdrop-filter: inherit;
  border-radius: 0.5rem;
  border: var(--border);
  outline: var(--outline);
  font-size: var(--text-size);
  padding: 0 calc(0.8 * var(--variableUnitsSize));
  padding-left: var(--placeholder-padding-left);
  box-shadow: var(--box-shadow);
}
.input:hover,
.input:focus-visible {
  outline: var(--focus-outline);
  background-color: var(--focus-bg-color);
  color: var(--focus-text-color);
}

.input::placeholder {
  color: var(--placeholder-color);
  font-size: var(--placeholder-font-size);
  opacity: 0.5;
}

.input::-webkit-input-placeholder {
  color: var(--placeholder-color);
  font-size: var(--placeholder-font-size);
  opacity: 0.5;
}

.input:-moz-placeholder {
  color: var(--placeholder-color);
  font-size: var(--placeholder-font-size);
  opacity: 0.5;
}

.text {
  --label-text-color: var(--main-page-font-color);
  --label-text-size: 0.8rem;
  font-size: var(--label-text-size);
  color: var(--label-text-color);
  opacity: 0.8;
  position: relative;
  left: 2%;
  top: -12%;
}

.svgIcon {
  --icon-svg-width: 24px;
  --icon-svg-height: 24px;
  width: var(--icon-svg-width);
  height: var(--icon-svg-height);
  position: relative;
  top: -50%;
  left: 0;
  transform: translate(25%, -50%);
}

.error {
  display: flex;
  color: red;
  font-size: 0.7rem;
  margin-top: 0.1rem;
  margin-left: 0.5rem;
}
